<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpproject.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcpproject.Perspective"
            id="RcpProject.perspective">
      </perspective>
   </extension>
   <extension point="org.eclipse.core.runtime.products">
         <product application="RcpProject.product" name="name">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcpproject.commands.ExitHandler"
            id="rcpProject.commands.Exit"
            name="Exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="rcpProject.commands.Exit"
                  style="push"
                  tooltip="Exit Application">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="FatherMenu">
            <command
                  commandId="rcpproject.commands.HelloWord"
                  label="fathercommand"
                  style="push">
            </command>
            <command
                  commandId="rcpproject.commands.HelloWord"
                  label="fathercommand"
                  style="push">
            </command>
            <menu
                  label="label">
               <command
                     commandId="rcpproject.commands.HelloWord"
                     style="push">
               </command>
            </menu>
            <menu
                  label="label">
               <command
                     commandId="rcpproject.commands.HelloWord"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcpproject.commands.HelloWordHandler"
            id="rcpproject.commands.HelloWord"
            name="HelloWord">
      </command>
      <command
            defaultHandler="rcpproject.commands.HelloWordHandler"
            id="rcpproject.fathercommand"
            name="fathercommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="SayHelloWorld"
               label="SayHelloWorld">
            <command
                  commandId="rcpproject.commands.HelloWord"
                  label="HelloWord"
                  style="push"
                  tooltip="Say HelloWorld">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:rcpproject.views.View1">
         <command
               commandId="rcpproject.commands.HelloWord"
               label="View1"
               style="push"
               tooltip="Say HelloWorld">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rcpproject.fathertoolbar">
            <command
                  commandId="rcpproject.commands.HelloWord"
                  label="fathercommand"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:rcpproject.fathercommand">
         <command
               commandId="rcpproject.commands.HelloWord"
               label="Say HelloWorld 1"
               style="push">
         </command>
         <command
               commandId="rcpproject.commands.HelloWord"
               label="Say HelloWorld 2"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpproject.ViewPart1"
            id="rcpproject.views.view1"
            name="View1"
            restorable="true">
      </view>
   </extension>

</plugin>
